<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">
    <script src="/assets/scripts.js"></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main><%- body %></main>
    <hr />
    <%- include('../partials/footer.ejs') %>
</body>

</html>